.display-flex{
    display:flex;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li a{
    text-decoration: none;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 30px;

}
nav ul li{
    margin-left: 10px;
}

.item-name1{
    color:#000000;
    
}
.item-name3{
    color:#000000;   
}
.item-name2{
    color:#8987A1;
}
.cart{
    width:13px;
    margin-left: 10px;
    
}

@media screen  and (max-width:576px){
    .item-name1 , .item-name2{
        display:none;
    }
    .navbar{
        margin-bottom: 100px;
    }
    .cart{
        margin-left: 10px;
    }
}

/* banner */
.item-color{
    color:#E95A08;

}
.banner{
    max-width: 1140px;
    margin: 0 auto;
    align-items: end;
    margin-bottom: 120px;
}
.banner-img{
    width:100%;
}
.banner-p{
    width:570px;
    height:108px;
}
@media screen  and (max-width:576px){
   .banner{
    display: flex;
    flex-direction: column-reverse;
   } 
   .banner-items{
    width:22.75rem;
   }
   .banner-p{
    width:90%;
   }
   .banner{
    margin-bottom:50px;
   }

}
    

/* our plant */
.item-change{
    color:#E95A08;
}
.plant-items1{
    font-weight: bold;
    font-size: 3.2 rem;
    
}
.our-plants{
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 140px;

    
}

.plant-img{
   width:100%;
}
.plant-titlep{
    font-weight: 700;
    font-size: 1.7 rem;
}
.plant-sec1{
   text-align: center;
    font-size: 1.1rem;
}
.plant-sec2{
    text-align: center;
    
}
.plant-button{
    
    font-size: 0.75rem;
    padding:10px;
    
    background-color: #E95A08;
    color:#FFFFFF;
    border:none;

}

.plants{
   display:grid;
   grid-template-columns:repeat(4 , 1fr);
   gap:8px;
    
}
@media screen  and (max-width:576px){
    .plants{
   display:grid;
   grid-template-columns:repeat(2, 1fr);
   gap:2px;
    
}
.our-plants{
    margin-bottom:40px;
}
    
    }

/* plant lovers section */

.plant-lovers-main{
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 130px;
    display:flex;
    gap:50px;
    align-items:end;
    
}
.PL-title{
    font-weight: bold;
    font-size: 2.11rem;
    color:#000000;
}
.PL-img{
    width:540px;
    height:590px;
}
.PL{
    
    width:540px;
    height:521px;
}
.PL-list{
    padding:10px;
}
.PL-list-item{
width:300px;
height:99px;
font-size: 0.75rem;

}
.badge{
position: absolute;
transform: translate(-50% ,-40%);
width:286px;
height:286px;

}
@media screen  and (max-width:576px){
    .PL-img{
    width:320px;
    height:380px;
   width: 100%;
   overflow: hidden;
   
}
.PL{
    
    width:350px;
    height:320px;
    margin-top: -10px;
}
.badge{
    display: none;
}
    .plant-lovers-main{

        flex-direction: column;
        width:367px;
        height:800px;
        margin-bottom: 50px;
    }
.PL-list{
    padding:0px;
    width:310px;
    height:290px;
   
    } }



/* latest details */
.latest-details{
    max-width: 0 1140px;
    text-align: center;
   
}

/* join section */

.img1{
    background-image: url('../images/deal-bloom.png');
    border-radius: 10px;
    width:367px;
    height:193px;
    
    

}

.JS-items1{
    color:#FFFFFF;
    font-size:1.2rem ;
    text-align:center;
    align-content: center;
    margin:8px;
}

.img2{
    border-radius: 10px;
    background-image: url('../images/deal-ana.png');
    width:367px;
    height:193px;
    

}


.JS-items2{
    color:white;
    font-size:1.2rem ;
    text-align:center;
    align-content: center;
     margin:8px;
    
}

.img3{
border-radius: 10px;
    background-image: url('../images/deal-zabo.png');
    width:700px;
    height:400px;
    

}
.JS-items3{
    color:white;
    font-size:1.2rem ;
    text-align:center;
    align-content: center;
    

}

.join-section{
    max-width: 1140px;
    margin: 0 auto;
    display:flex;
    margin-bottom: 120px;  
    
}

@media screen  and (max-width:576px){
    .join-section{ 
    flex-direction: column;
    margin-bottom: 30px;
     }

    .img3 , .JS-items3{
        width:376px;
    height:190px; 
      }
    

}



/* brunch button */
.brunch-button{
    font-size: 0.95rem;
    width:90px;
    background-color: #E95A08;
    color:white;
    border:none;
    border-radius: 2px;
    

}
.brunch-title{
    color:#FFFFFF;
}
.brunch{
    background-image: url(../images/news-letter-bg.png);
    width:100%;
    height: 500px;
     text-align:center;
    align-content: center; 
    margin-bottom: 50px; 
    
}


@media screen  and (max-width:576px){
    .brunch{
        width:390px ;
        height:275px ;
    }

}

/* footer */
.footer{
    max-width:1120px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
footer ul li{
    list-style: none;
    padding:5px;
}
footer ul li a{
    text-decoration: none;
    color: #000000;
}
.fooet-p{
    width: 300px;
}

@media screen  and (max-width:576px){
    .footer{
        flex-direction: column;
    }
    }
    
    

